/* 
  CSS Rules Syntax:
  selector {
    property1: value1;
    property2: value2;
}
*/

/* Universal Selector */
* {
  font-family: "Courier", monospace;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* type selector */
h1 {
  font-family: "Tahoma", sans-serif;
}

body {
  /* background-color: skyblue; */

  background-image: url(https://img.youtube.com/vi/p-65hw01vgw/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  text-align: center;
}

nav {
  background-color: white;
  text-align: center;

  padding: 15px;
}

.title {
  /* color: green; */

  margin-top: 10px;
  margin-bottom: 10px;
}

#hello {
  color: black;
  font-size: 3rem;
}

#logo {
  height: 300px;
  width: 300px;

  border-radius: 150px;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.module-card {
  border: 2px solid black;

  height: 350px;
  width: 800px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.6);

  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

#modules {
  margin-top: 30px;
  margin-bottom: 30px;
}

#moduleHeader {
  margin-top: 30px;
}

.module-image {
  height: 200px;
  width: 200px;
}